@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: 'Quicksand', sans-serif;
}

#home {
	background: url(../images/banner.jpg);
	height: 790px;
	background-size: cover;
}

.container {
	width: 1152px;
	margin: auto;
}

header {
	padding: 40px 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: 0.8s;
	z-index: 999;
}

.logo {
	float: left;
}

nav {
	float: right;
}

nav ul {
	list-style: none;
	padding-top: 10px;
}

nav ul li {
	float: left;
}

#home nav ul li a {
	text-decoration: none;
	color: #fff;
	padding: 15px;
	font-weight: bold;
}

.clear {
	clear: both;
}

.bg1 {
	color: #fff;
	text-align: center;
	padding-top: 311px;
}

.bg1 h1 {
	font-size: 44px;
}

.sticky-header {
	background: rgba(0, 0, 0, 0.6);
	padding: 20px 0;
}

.arrow {
	margin-top: 300px;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.clear {
	clear: both;
}

#filter {
	background: #f5f6f7;
	padding: 30px 0px;
}

.btn {
	background-color: #aa9b77;
	color: #fff;
	padding: 10px;
	border-radius: 3px;
}

.bg2 {
	margin: 50px auto;
	width: 80%;
}

.bg3 {
	margin: 50px auto;
	width: 80%;
}

.bg4 {
	margin: 50px auto;
	width: 80%;
}

.men {
	float: left;
	width: 10%;
}

.women {
	float: right;
	width: 10%;
	text-align: right;
}

.line {
	position: relative;
	float: right;
	width: 90%;
}

.line hr {
	width: 100%;
	top: 10px;
	position: absolute;
}

.grid-item {
	padding: 10px;
	height: 368px;
	background: #f5f6f7;
	position: relative;
}

.bg3 {
	width: 80%;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 50px;
}

.color {
	width: 10px;
	border-radius: 100%;
	height: 10px;
	margin-left: 5px;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.m-auto {
	margin: auto;
}

.grid-item .footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	padding: 10px;
}

.grid-item .image {
	height: 80%;
	display: block;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.grid-item img {
	height: 100%;
}

.bg5 {
	background-color: #aa9b77;
	height: 400px;
	padding-top: 5%;
}

.bg5 fieldset {
	padding: 60px;
	width: 60%;
	margin: auto;
	text-align: center;
	border: 1px solid black;
}

.bg5 legend {
	margin: auto;
	padding: 10px;
	}

.ecommerce{
	background-color: #535253;
	color: #fff;
	height: 70px;
}
.ecommerce p{
	padding: 20px 10%;
}

.bottom{
	background: #424242;
	height: 351px;
	color: white;
	padding: 100px 10%;
	
}
.bottom .trekking {
	float: left;

}
.bottom .treeking h2 , .bottom .treeking p{
	color: #fff;
}
.bottom nav ul li:first-child{
	border: none;
}
.bottom nav{
	padding-top: 50px;
}
.bottom nav ul li {
	border-left: 1px solid #fff;
	color: #fff;
	padding: 0px 5px;
}
.bottom a{
	color: white;
	text-decoration: none;
}